@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  @apply p-0 m-0 box-border;
}

html {
  scroll-behavior: smooth;
}


.logo {
  font-family: "Rubik", sans-serif;
}

/* fonts */
.font-firaCode {
  font-family: "Fira Code", monospace;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.big-heading {
  font-size: clamp(40px, 8vw, 80px);
  margin: 0px;
  font-weight: 600;
  line-height: 1.1;
}

input[type="radio"] + label {
  @apply border-b lg:border-b-0 lg:border-l border-darkSlate;
  transition: border 0.2s 0.5s;
}

input[type="radio"]:checked + label {
  @apply text-green border-b-2 lg:border-b-0 lg:border-l-2 border-green bg-lightNavy;
}

.section-header {
  font-size: clamp(26px, 5vw, 32px);
}

.contact-heading {
  font-size: clamp(40px, 5vw, 60px);
}

.contact-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

.wrapper svg {
  transition: all 0.2s;
}

.wrapper svg:hover {
  @apply stroke-green;
  transform: translateY(-5px);
}
