.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.wrapper::after {
  @apply bg-lightestNavy;
  content: "";
  width: 300px;
  height: 1px;
  margin-left: 20px;
}
