.wrapper {
  position: fixed;
  bottom: 0;
  padding-left: 20px;
  left: 0;
}

.wrapper ul {
  display: flex;
  flex-direction: column;
}

.wrapper ul::after {
  @apply bg-lightSlate;
  content: "";
  width: 1px;
  height: 90px;
  margin-left: 15px;
  margin-top: 20px;
}

.wrapper svg {
  transition: all 0.2s;
}

.wrapper svg:hover {
  @apply stroke-green;
  transform: translateY(-5px);
}
